services:
  phpfranck:
    image: dunglas/frankenphp
    container_name:  frankensteinPR
    ports:
      - "8080:8080"
    volumes:
      - ./php:/app
    depends_on:
      - db
  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: emes 
      MYSQL_ROOT_PASSWORD:  root
    ports:
      - "3307:3306"
    volumes:
      - mysqldata:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    depends_on:
      - db

volumes:
  mysqldata: